:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ececec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.StupidGif{
  height: clamp(5rem, 80vw,30rem);
  width: clamp(5rem, 80vw,30rem);
  text-align: center;
  margin: clamp(1rem, 2.5vh, 3rem);
}

.StartGif{
  width: 100%;
  text-align: center;
}
.HeaderContainer{
  width: 100%; 
  height: 13vh;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.HeaderDivider{
  width: 80%;
  margin-top: 0.9rem;
  align-self: center;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.233);
}
.BurgerImg{
  width: 20px;
  margin-right: 20px;
  margin-left: 10px;
}
.LogoImage{
  width: clamp(5rem, 80vw,30rem);
}
.HeaderContent{
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
.HeaderText{
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.HeaderName{
  align-self: center;
  font-size: clamp(1rem, 2.5vh, 3rem);
  font-weight:550;
}
.BurgerPatties{
  display: flex;
  flex-direction: column;
  &.hover{
    background-color: rgb(170, 170, 168);
  }
}
.Burgermenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burgerlayer{
  width: 35px;
  height: 5px;
  background-color: rgb(56, 54, 54);
  margin: 3px 0;
  display: flex;
  justify-content: center;
}
.HeaderGif{
  width: clamp(5rem, 20vw,7rem);
}
.BurgerContainer{
  position: absolute;
  flex-direction: column;
  display: flex;
  z-index: 2000;
  align-items: end;
  pointer-events: none;
  width: 99%;  
  &.open{
    transform: translateX(0);
    animation: closed 700ms;
  }
  &.closed{
    transform: translateX(100%);
    animation: open 700ms;
  }
}
.BurgerStack{
  width: 20%;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.842);
  box-shadow: 0 5px 5px 0px #c4c4c491;
  background-color: rgb(255, 255, 255);
}
.BurgerCondiment{
  width:80%;
  display: flex;
  align-self: center;
  text-align: right;
}
.BurgerOption{
 overflow: hidden;
 pointer-events: auto;
 color: rgb(0, 0, 0); 
 text-decoration: none;
 width: clamp(10rem, 30vw, 20rem);
 font-size: clamp(1rem, 2vh, 1.4rem);
 height: clamp(2.5rem, 10vh, 3.1rem);
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}
.BurgerOption:hover {
  animation: opacity;
  opacity: 0.4;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
      opacity: 1;
  }

  to {
      opacity: 0.4;
  }
}


@keyframes open {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(100%);
  }
}

@keyframes closed {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(0);
  }
}
  @media (max-aspect-ratio: 16/9) {
    .BurgerStack{
      width: 50%;
    }
}