.LoginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.LoginInputDiv{
    display: flex;
    width: 100%;
    margin-left: 33px;
    align-self: center;
    justify-content: center;
}
.EyeImg{
    margin-left: 10px;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
}
.LoginHeader{
     font-size: 1.7rem;
    cursor: default;
    width: 60%;
    align-self: center;
    text-align: center;
    font-weight: 600;
    background-color: rgba(202, 202, 202, 0.158);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.233);
    border-top: 1.5px solid rgba(0, 0, 0, 0.233);
    margin-bottom: 20px;
    margin-top: 30px;
}
.LoginInput{
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: clamp(1rem,3vh,3rem);
    font-size: clamp(1rem,1.7vh,1.5rem);
    width:70%;
}
.LoginButton{
     margin-top: 2.3rem;
     margin-bottom: 0.8rem;
     cursor: pointer;
     width: 30%;
     align-self: center;
     font-size: 1.7rem;
     font-weight:600;
     box-shadow: 0 3px 3px 3px #c4c4c45b;
     border-radius: 4px;
    &:hover{
    transition: all 0.3s;
    transform: translateY(-2px);
    }
}
