.TestContainer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;   
    animation: fade-in 200ms;
}
.TestHeader{
    font-size: 1.7rem;
    cursor: default;
    width: 60%;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(202, 202, 202, 0.158);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.233);
    border-top: 1.5px solid rgba(0, 0, 0, 0.233);
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &.active{
    cursor: pointer;
        font-size: 2rem;
        width: 80%;
        &:hover{
    transition: all 0.3s;
    transform: translateY(-2px);
    }
    }
}
.EditIcon{
    align-content: center;
    margin-left: 20px;
    
}
.TestInput{
    height: clamp(1rem,7vh,12rem);
    font-size: clamp(1rem,1.7vh,1.8rem);
    width: 60%;
    align-self: center;
    text-align: center;
    padding:10px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.Testinputcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Tests{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin-top: 1.2rem;
}
.TestVerify{
    height: clamp(2rem,3vh,12rem);
    font-size: clamp(1rem,1.7vh,1.4rem);
    width: 25%;
    background-color: rgba(80, 250, 80, 0.363);
    margin-top: 10px;
    margin-bottom: 0.4rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    &:hover{
    transition: all 0.3s;
    transform: translateY(-3px);
     background-color: rgba(80, 250, 80, 0.616);
    cursor: pointer;
 }
}
.CorrectAnswer {
    background-color: rgb(2, 240, 2);
}
.submitBtn{
     margin-top: 0.8rem;
     margin-bottom: 0.8rem;
     cursor: pointer;
     width: 30%;
     align-self: center;
     font-size: clamp(1rem,1.7vh,1.4rem);
     font-weight:600;
     box-shadow: 0 1px 1px 1px #c4c4c45b;
     background-color: white;
     border-radius: 4px;
    &:hover{
    background-color: rgba(255, 255, 255, 0.623);
    transition: all 0.3s;
    transform: translateY(-2px);
    }
}
.addBtn{
    background-color: rgba(80, 250, 80, 0.158);
    width: 10%;
    font-size: clamp(1rem,1.7vh,1.8rem);
    align-self: center;
    cursor: pointer;
    box-shadow: 0 1px 1px 1px #c4c4c45b;
    &:hover{
    transition: all 0.3s;
    transform: translateY(-2px);
    background-color: rgba(80, 250, 80, 0.404);
    }
}

.deleteBtn{
    cursor: pointer;
    font-size: clamp(1rem,1.7vh,1.4rem);
    width: 20%;
    background-color: rgba(219, 83, 83, 0.233);
    box-shadow: 0 1px 1px 1px #c4c4c45b;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
&:hover{
    transition: all 0.3s;
    background-color: rgba(219, 83, 83, 0.452);
    transform: translateY(-2px);
    }
}

@keyframes fade-in {
  0% { opacity: 0; }
  33%  { opacity: 0.3; }
  66% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes fade-out {

}